<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">User Lists</div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-4"><input type="text" v-model="new_user_email"></div>
                        <div class="col-sm-4">
                            <select v-model="new_user_role">
                                <option value="tagonly">tagonly</option>
                                <option value="full">full</option>
                                <option value="readonly">readonly</option>
                            </select>
                        </div>
                        <div class="col-sm-4"><span class="btn btn-outline-secondary"

                                                   v-on:click="addUser()">Add user</span>
                        </div>
                    </div>
                </div>

                <div class="card-body">

                    <div class="form-group row" v-for="(user,index) in list">
                        <div class="col-sm-4">{{ user.name }} ({{ user.email }})</div>
                        <div class="col-sm-4">
                            <select v-model="user.role" v-on:change="updateUserRole(index)">
                                <option value="tagonly">tagonly</option>
                                <option value="full">full</option>
                                <option value="readonly">readonly</option>
                            </select>
                        </div>
                        <div class="col-sm-4"><span class="btn btn-outline-secondary"
                                                    v-on:click="deleteUser(index)">Delete</span></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        this.refresh();
    },

    data() {
        return {
            new_user_role: 'tagonly',
            new_user_email: '',
            list: []
        };
    },

    watch: {
        '$route': 'refresh'
    },


    methods: {
        refresh() {
            this.list = [];
            axios.get(window.apiBaseUrl + '/' + this.$route.params.listId + '/users', {}).then(response => {
                this.list = response.data.list;
            });
        },
        addUser() {
            axios.post(window.apiBaseUrl + '/' + this.$route.params.listId + '/user/add', {
                _method: 'POST',
                email: this.new_user_email,
                status: this.new_user_role
            }).then(response => {
                this.refresh();
            });
            this.new_user_email = '';
        },
        updateUserRole(index) {
            axios.post(window.apiBaseUrl + '/' + this.$route.params.listId + '/user/' + this.list[index].id + '/change-role', {
                _method: 'PUT',
                status: this.list[index].role
            }).then(response => {
                // this.refresh();
            });
        },
        deleteUser(index) {
            axios.post(window.apiBaseUrl + '/' + this.$route.params.listId + '/user/' + this.list[index].id + '/delete', {
                _method: 'DELETE'
            }).then(response => {
                this.refresh();
            });
        },
    }

}
</script>

<style scoped>

</style>
