<template>
    <div class="row ">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Your Lists</div>
                <div class="card-body">
                    <div class="form">
                        <div class="form-group row">
                            <label for="newList">New List</label>
                            <input type="text" id="newList" class="form-control" v-model="new_list_name">
                        </div>
                        <button type="submit" class="btn btn-primary" v-on:click="createList">Submit</button>
                    </div>
                </div>
                <div class="card"  v-for="(item,index) in list">
                <div class="card-body">
                    <div class="form-group row " >
                        <router-link v-if="index != edit_list_index"
                                     :to="{ name: 'item.list', params: { listId: item.id }}"
                                     :class="'btn btn-primary'"
                        >
                            {{ item.name }}
                        </router-link>
                        <input type="text" v-else class="form-control" v-model="item.name"
                               v-on:change="updateListName(index)">
                    </div>
                    <div class="form-group row ">
                                    <span class="btn btn-outline-secondary" v-if="['owner','full'].includes(item.role)"
                                          v-on:click="editMode(index)">Edit</span>
                        <span v-if="item.role == 'owner'" class="btn btn-outline-secondary"
                              v-on:click="deleteList(index)">Delete</span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        this.refresh();
    },
    data() {
        return {
            list: [],
            new_list_name: '',
            edit_list_index: -1,
        };
    },
    methods: {
        deleteList(index) {
            axios.post(window.apiBaseUrl + '/' + this.list[index].id + '/delete', {
                _method: 'DELETE'
            })
                .then(response => (this.refresh()));
        },
        editMode(index) {
            this.edit_list_index = index;
        },
        updateListName(index) {
            this.edit_list_index = -1;
            axios.post(window.apiBaseUrl + '/' + this.list[index].id + '/update', {
                name: this.list[index].name,
                _method: 'PUT'
            })
                .then(response => (this.refresh()));
        },
        refresh() {
            axios.get(window.apiBaseUrl + '/', {}).then(response => (this.list = response.data));
        },
        createList() {
            axios.post(window.apiBaseUrl + '/create', {name: this.new_list_name}).then(response => (this.refresh()));
        },
    },


}
</script>
