<template>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Your todo list: {{ title }}</div>

                <div class="card-body">
                    <div class="form-group row">
                        <router-link v-if="isOwner" :class="'btn btn-outline-secondary'"
                                     :to="{ name: 'user.list', params: { listId: $route.params.listId }}">
                            Manage users
                        </router-link>
                    </div>
                </div>
                <div class="card-body">
                <div class="form-group row" v-if="canEdit">
                    <input type="text" v-model="new_item_text">
                    <input type="date" v-model="new_item_finish_until">
                    <span class="btn btn-outline-secondary"
                          v-on:click="createListItem()">Add new item</span>
                </div>
                </div>

                <div class="card-body">
                    <div class="row form-group " v-for="(item,index) in list">
                        <div class="col-sm-4">
                            <input type="text" v-if="canEdit" v-model="item.text"
                                   v-on:change="changeItemText(index)">
                            <span v-else>{{ item.text }}</span>
                        </div>
                        <div class="col-sm-3">
                            <input type="date" v-if="canEdit"
                                   v-on:change="changeItemDate(index)" v-model="item.finish_until">
                            <span v-else>{{ item.finish_until }}</span>
                        </div>
                        <div class="col-sm-5">
                            <span v-if="!item.status && canFinishTask" class="btn btn-outline-secondary" v-on:click="markAsDone(index)">Mark as done.</span>
                            <span v-else-if="item.status" class="btn btn-outline-secondary">Done.</span>
                            <span v-else class="btn btn-outline-secondary">Not done.</span>
                            <span v-if="isOwner" class="btn btn-outline-secondary"
                                  v-on:click="deleteItem(index)">Delete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        this.refresh();
    },


    data() {
        return {
            list: [],
            role: '',
            title: '',
            new_item_text: '',
            new_item_finish_until:'',

        };
    },
    watch: {
        '$route': 'refresh'
    },
    computed: {
        canEdit(){
            return ['owner', 'full'].includes(this.role);
        },
        isOwner(){
            return this.role == 'owner';
        },
        canFinishTask(){
            return ['owner', 'full','tagonly'].includes(this.role);
        }
    },
    methods: {
        refresh() {
            this.list = [];
            this.role = '';
            axios.get(window.apiBaseUrl + '/' + this.$route.params.listId + '/items', {}).then(response => {
                this.list = response.data.items;
                this.role = response.data.role;
                this.title = response.data.title;
            });
        },
        createListItem() {
            axios.post(window.apiBaseUrl + '/' + this.$route.params.listId + '/item/create', {
                text: this.new_item_text,
                finish_until: this.new_item_finish_until,
                status:false
            }).then(response => {
                this.refresh()
            });
        },
        changeItemText(index) {
            axios.post(window.apiBaseUrl + '/' + this.list[index].id + '/item/update', {
                _method: 'PUT',
                text: this.list[index].text,
            }).then(response => {
                //this.refresh()
            });
        },
        changeItemDate(index) {
            axios.post(window.apiBaseUrl + '/' + this.list[index].id + '/item/update', {
                _method: 'PUT',
                finish_until: this.list[index].finish_until,
            }).then(response => {
                //this.refresh()
            });
        },
        deleteItem(index) {
            axios.post(window.apiBaseUrl + '/' + this.list[index].id + '/item/delete', {
                _method: 'DELETE'
            }).then(response => {
                this.refresh()
            });
        },
        markAsDone(index) {
            axios.post(window.apiBaseUrl + '/' + this.list[index].id + '/item/done', {
                _method: 'PUT'
            }).then(response => {
                this.refresh()
            });
        }

    }
}
</script>
